.popular-items {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 32px;
  padding-right: 19px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}
.renderbackground {
  margin-left: 65px;
}
.popular-app-background {
  background: #131313;
  min-height: 100vh;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
@media (min-width: 768px) {
  .popular-items {
    margin-top: 32px;
    padding-left: 165px;
    padding-right: 135px;
  }
  .renderbackground {
    margin-left: 130px;
  }
}
